body {
    font-size: 15pt;
    color: darkslategray;
    background: lime ;
}
q,
blockquote {
    background: lightseagreen;
    color: darkolivegreen;
}
/* коментарий */
.date {
    color: orange;
}
    
