body {
    font-size: 15pt;
    color: darkslategray;
    background: antiquewhite;
}
q,
blockquote {
    background: lightseagreen;
    color: darkolivegreen;
}
.date {
    color: orange;
}
    
/*коментарий*/