body {
    font-size: 15pt;
    color: darkslategray;
    background: antiquewhite;
}
q,
blockquote {
    background: lightseagreen;
    color: darkolivegreen;
}
.date {
    color: orange;
}
#targline { color: navy;} 
/*nav a {
    color: red;
}*/
nav a:hover {
    color: red;
}

/*коментарий*/